.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr 8fr 1fr;
  grid-template-rows: 30px 30px;
}

.table-container {
  background-color: #e6edf0;
  height: 95vh;
  width: 90vw;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
  border: 3px solid #2b2d42;
}

.scores {
  position: relative;
  top: 30px;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .light {
  background-color: #e6edf0;
}

.dark {
  background-color: #d2e3eb;
} */
